@import './vars';

html,
body {
  // background: green;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

main{
  background: lighten($white, 10%);
  transition: .2s all;
}

.chart-container {
  width: 100%;
  height: 31.1rem;
}

header{
  .header-container{
    height: 4rem;
    background: $white;
    padding: 0 15px;
    transition: .2s all;
  }

  .header-inner{
    display:flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  p{
    color: $darken-grey;
    margin: -5px 10px 0;
  }
}

footer {
  .footer-container {
    background: $white;
    transition: .2s all;
  }

  .balance-block {
    padding: 15px;
    .balance-inner {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      color: $white;
      background: $green;
      padding: .6rem;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .plus-minus-block {
    min-height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;

    button {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      box-shadow: none;
      font-size: 2rem;
      outline: none;
      background: $white;
      cursor: pointer;

      &.plus {
        color: $green;
        border: 5px solid $green;
      }

      &.minus {
        color: $red;
        border: 5px solid $red;
      }
    }
  }
}

.App.nightMode{
  header{
    .header-container{
      background: $darken-grey;
    }
    p{
      color: $white;
    }
  }

  footer{
    .footer-container{
      background: $darken-grey;
    }

    button {
      background: $grey;
    }
  }

  main{
    background: lighten($darken-grey, 10%);
  }
} 